@model CosmosDbPeliculas.Models.Pelicula

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>SCAZURE</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ape_paterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ape_paterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ape_materno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ape_materno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="ListPeliculas">Back to List</a>
</div>
